<module>
	<rawname>sak</rawname>
	<repo>standard</repo>
	<name>Swiss Army Knife</name>
	<version>1.1.2</version>
	<publisher>Andrew Nagy</publisher>
	<license>MPLv1.1</license>
	<type>tool</type>
	<category>Swiss Army Knife!!</category>
	<menuitems>
		<sak_blacklist_mod needsenginedb="yes" sort="1">Blacklist (Modified)</sak_blacklist_mod>
		<sak_advanced_settings sort="9">Settings</sak_advanced_settings>
	</menuitems>
	 <description>I miss a feature. So it winds up here</description>
	<changelog>
		*1.1.2* dward: makes dial pattern wizards drop down work
		*1.1.1* dward: Fixed Blank Page, Helped to Disable 'new dial patterns that will use this route'
		*1.1.0* dward adjusted the display and parsing of numbers with prepend/prefix/callerid
		*1.0.1* Cleaned up the display of Outbound Routes so its not so confusing, fixed page display issue for blacklist module
		*1.0* Initial Release
	</changelog>
	<depends>
		<module>core ge 2.8</module>
		<module>blacklist</module>
	</depends>
	<location>release/2.9/blacklist-2.9.0.1.tgz</location>
	<md5sum>42b34d3e46f2f239b34101ad6b94acb8</md5sum>
</module>
